<div class="modal modal-open" id="modal-error" data-controller="modal-error">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Error</h3>
    <p class="py-4"><%= message %></p>
    <div class="modal-action">
      <label for="modal" class="btn" data-action="click->modal-error#hide">Close</label>
    </div>
  </div>
</div>