<h1 class="text-4xl"><%= params[:state].titleize %></h1>

<%= render partial: "filter/movies", locals: { route: states_index_path(params[:state]) } %>

<%= render partial: "movies/movies", locals: { movies: @movies } %>
