<div class="form-control w-full">
  <label class="label">
    <span class="label-text"><%= title %>:</span>
  </label>
  <input name="<%= name %>" id="<%= name %>" type="<%= type %>" class="input input-bordered w-full" />
</div>